@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #1f49b6;
  --white: #ffffff;
  --dark-text: #1a1a1a;
  --bg-light: #e0e6ff;
  --hover-text: #01d196;
  --blue-text: #102a97;
}
